 <?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
     <category label="30001"> <!-- Picklist Settings -->
        <setting type="string" label="30002" />
      
        <setting type="lsep" label="30003" />
        <!-- Prefix entry and Color settings -->
        <setting id="prefixTextSel" type="select" label="30004" lvalues="30005|30006|30007|30008" default="0" />
        <setting id="prefixColtSel" type="select" label="30009" lvalues="30010|30011|30012|30013|30014|30015" default="0" />
      
        <setting type="lsep" label="30016" />
        <!-- Prefix entry and Color settings -->
        <setting id="suffixTextSel" type="select" label="30017" lvalues="30018|30019|30020|30021|30022|30023}30024|30025" default="0" />
        <setting id="prefixColtSel" type="select" label="30026" lvalues="30010|30011|30012|30013|30014|30015" default="0" />

        <!-- Override Prefix and Suffix entry and Color settings -->

        <setting type="lsep" label="30030" />
        <setting type="string" label="30031" />

        <setting type="lsep" label="30032" />
        <!-- Default the Prefix/Suffix text entry and Color settings -->
        <setting id="prefixBooltCus" type="bool" label="30033" default="false"/>

        <setting id="prefixTextCus" type="text" label="30034" default="" />
        <setting id="prefixColorCus" type="text" label="30035" default="" />

        <setting type="lsep" label="30036" />
        <setting id="suffixBooltCus" type="bool" label="30037" default="false"/>

        <setting id="suffixTextCus" type="text" label="30034" default=""/>
        <setting id="suffixColorCus" type="text" label="30035" default="" />
    </category>
   

    <category label="30038">
        <setting type="lsep" label="30039" />
        <setting type="string" label="30040" />

        <setting id="fontSize" label="30041" type="enum" default="0"
                 values="Small|Medium|Large"/>
        <setting id="thumbSize" label="30042" type="enum" default="1"
                 values="Small|Large"/>        
     
        <setting type="lsep" label="30043" />
        <setting type="string" label="30044" />
        <setting id="reorderingMethod" label="30045" type="enum" default="0"
                 values="Swap A and B|Insert A before B|Insert A after B"/>

    </category>
</settings>






















































