 <?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
     <category label="32001"> <!-- Picklist Settings -->
        <setting type="string" label="32002" />
        <setting type="lsep" label="32003" />
        <!-- Prefix entry and Color settings -->
        <!-- 32101, 32102 represent labels in strings.po (e.g., "NONE", "TV - ", "Show - ", "Movie -") -->
        <setting id="prefixTextSel" type="select" label="32100" lvalues="32101|32102|32103|32104" default="0" />
        <setting id="prefixColtSel" type="select" label="32110" lvalues="32111|32112|32113|32114|32115|32116|32117" default="0" />

      
    </category>
 
    <category label="Picklists">
       <!-- <setting type="text" label="[COLOR white]Here you choose the actions from the picklists for Prefix/Suffix and Colors[/COLOR]" /> -->
                
        <setting type="text" label="$ADDON[Manage-Kodi-Favourites 30001]"/>
        <!-- NOTE: LOCALIZE does not resolve propoerly <setting type="text" label=$LOCALIZE[30001]/> -->

        <setting type="lsep" label="[COLOR blue]Settings Section for Prefix Picklists[/COLOR]" />
        <!-- Prefix entry and Color settings -->
         <setting id="prefixTextSel-old" label="Prefix Text" type="enum" default="0"
                 values="NONE|TV - |Movie - |Show - "/>
        <setting id="prefixColorSel-old" label="Prefix Color" type="enum" default="0"
                 values="NONE|green|yellow|blue|cyan|orange|purple"/>

        <setting type="lsep" label="[COLOR blue]Settings Section for Suffix Picklists[/COLOR]" />
        <!-- Suffix entry and Color settings -->
        <!-- Note: values="$ADDON[Manage-Kodi-Favourites 32005]" does not work?? -->
        <!-- values="NONE| - # Free99 #| - # Scrubs V2 #| - # Ghost #| - # Quicksilver #| - # Samsung TV+ #| - # Pluto TV #| - # IPTV #"/> -->
         <setting id="suffixTextSel" label="Suffix Text" type="enum" default="0"
                                  values="NONE| - # Free99 #| - # Scrubs V2 #| - # Ghost #| - # Quicksilver #| - # Samsung TV+ #| - # Pluto TV #| - # IPTV #"/>
        <setting id="suffixColorSel" label="Suffix Color" type="enum" default="0"
                 values="NONE|orange|green|yellow|blue|cyan|purple"/>

       <setting type="lsep" label="[COLOR blue]Custom Override Section for Prefix / Suffix / Colors [/COLOR]" />
       <setting type="text" label="$ADDON[Manage-Kodi-Favourites 30002]"/>

        <setting type="lsep" label="[COLOR blue]Settings Section for Prefix Picklists[/COLOR]" />
        <!-- Default the Prefix/Suffix text entry and Color settings -->
        <setting id="prefixBooltCus" type="bool" label=" Override Prefix" default="false"/>

        <setting id="prefixTextCus" type="text" label="Custom Text" default="" />
        <setting id="prefixColorCus" type="text" label="Cuustom Color" default="" />

        <setting type="lsep" label="[COLOR blue]Settings Section for Suffix Picklists[/COLOR]" />
        <setting id="suffixBooltCus" type="bool" label=" Override Suffix" default="false"/>

        <setting id="suffixTextCus" type="text" label="Custom Text" default=""/>
        <setting id="suffixColorCus" type="text" label="Custom Color" default="" />
     
    </category>
 
    <category label="Thumb/Font/Re-Order">
        <setting type="lsep" label="[COLOR blue]Settings Section Controllin the Favourites List[/COLOR]" />
        <setting type="text" label="[COLOR white]Here you choose the size of the thumbnails as well as the label font to be displayed in the editing popup.[/COLOR]" />

        <setting id="fontSize" label="Font Size" type="enum" default="0"
                 values="Small|Medium|Large"/>
        <setting id="thumbSize" label="Thumnbail Size" type="enum" default="1"
                 values="Small|Large"/>        
     
        <setting type="lsep" label="[COLOR blue]Settings Section for Insert/Swap[/COLOR]" />
        <setting type="text" label="[COLOR white]Here you choose the actions to be performed when selecting items in your Kodi Favourites list. Either Swap A and B, Insert A before B or Insert A after B.[/COLOR]" />
        <setting id="reorderingMethod" label="Reordering Method" type="enum" default="0"
                 values="Swap A and B|Insert A before B|Insert A after B"/>

    </category>
</settings>


















































